.contenedor {
    width: 40%;
    margin: auto;
    justify-items: center;
}

.principal {
    font-size: 16px;
    min-height: 40.62em;
    color: aliceblue;
    background: linear-gradient(000deg ,rgb(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%),
    linear-gradient(217deg, rgba(70,46,170,8), rgba(23, 2, 75, 0.8) 70.71%),
    linear-gradient(127deg, rgba(70,46,170,8), rgba(8, 2, 75, 0.8) 70.71%),
    linear-gradient(336deg, rgba(70,46,170,8), rgba(21, 2, 75, 0.8) 70.71%);
    background-position: center center;
    background-size: cover;
    margin-bottom: 3.12em;
    text-align: center;
    

}

.principal .titulo {
    font-weight: 600;
    font-size: 3.12em;
    margin-top: 1em;
    padding-top: 2em;
    
}
.principal .imagen {
    padding: 4em ;
    
}
.principal .boton {
    align-items: end;
    
}