<div class="container">
    <form  class="row mt-3 g-3 needs-validation" novalidate>
        <div class="col-12 position-relative">
            <label for="mailID" class="form-label"><span>Email</span></label>
            <input type="email" class="form-control" id="mailID" placeholder="Introduce un Email" required>
            <div class="valid-tooltip">
                Todo-correcta
            </div>
            <div class="invalid-tooltip">
                Mal Hecho
            </div>
        </div>
        <div class="col-12 position-relative">
            <label for="passID" class="form-label"><span>Password</span></label>
            <input type="password" class="form-control" id="passID" placeholder="Introduce una contraseña" required>
            <div class="valid-tooltip">
                Todo-correcta
            </div>
            <div class="invalid-tooltip">
                Mal Hecho
            </div>
        </div>
        <div class="col-12 position-relative">
            <label for="edadID" class="form-label"><span>Edad</span></label>
            <input type="number" class="form-control" id="edadID" placeholder="Introduce tu dedad" required>
            <div class="valid-tooltip">
                Todo-correcta
            </div>
            <div class="invalid-tooltip">
                Mal Hecho
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
    

</div>