<div class="contenedor principal">
    <div class="row-12">
        <div class="col-12">
            
                <input type="text" id="buscador" placeholder="Escribe para filtrar" [(ngModel)]="buscador" (keyup)="tablaFiltrar()">
          
            <table class="table table-success">
                <thead>
                    <th>Título</th>
                    <th>Director</th>
                    <th>Nacionalidad</th>
                    <th>Duración</th>
                </thead>
                <tbody>
                    <tr *ngFor="let pelicula of tablaFiltrada">
                        <td>{{pelicula.titulo}}</td>
                        <td>{{pelicula.director}}</td>
                        <td>{{pelicula.nacionalidad}}</td>
                        <td>{{pelicula.duracion}}</td>
                    </tr>
                </tbody>
            </table>
            <br>
            <select class="form-select form-select-sm " aria-label=".form-select-sm example" (change)="ordenarLista()">
                <option selected>Ordena la lista</option>
                <option value="titulo">Títulone</option>
                <option value="director">Director</option>
                <option value="nacionalidad">Nacionalidad</option>
            </select>
            
        </div>
    </div>
   

</div>


