<div class="container">
    <div class="row-9">
        <div class="col-9">
            <table class="table table-success">
                <thead>
                    <th>Título</th>
                    <th>Director</th>
                    <th>Nacionalidad</th>
                    <th>Duración</th>
                </thead>
                <tbody>
                    <tr>
                        <td>Rambo</td>
                        <td>Pollone</td>
                        <td>EEUU</td>
                        <td>130 min</td>
                    </tr>
                    <tr>
                        <td>Rambo</td>
                        <td>Pollone</td>
                        <td>EEUU</td>
                        <td>130 min</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
   

</div>
