*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open sans', sans-serif;
}

body{
    height: 100vh;
    background-color: black;
    
}

.navbar{
    
    /* background-image: linear-gradient(217deg, rgba(70,46,170,8), rgba(02,15,75,.8) 70.71%),
            linear-gradient(127deg, rgba(70,46,170,8), rgba(02,15,75,.8) 70.71%),
            linear-gradient(336deg, rgba(70,46,170,8), rgba(02,15,75,.8) 70.71%);
   */
  
    /* background-image: linear-gradient(to top, #7046aa 0%, #7046aa 15%, #7046aa 35%, #c8699e 52%, #7046aa 71%, #0c1db8 87%, #020f75 100%); */
}

li{
    list-style: none;
}
a{
    text-decoration: none;
    color: whitesmoke;
    font-size: 1rem;
}

a:hover{
    color: rgba(200, 255, 0, 0.838)
}

header{
    position: relative;
    padding: 0 2rem;
}

.navbar{
    width: 100%;
    height: 60px;
    /* cuidao aqui  */
    max-width: 1200;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    font-size: 1.5em;
    font-weight: bold;
}
.navbar .links {
    display: flex;
    gap: 2rem;
}

.navbar .toggle_btn{
    color:aliceblue;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action_btn{
    background-color: rgba(255, 208, 0, 0.838);
    color: aliceblue;
    padding: 0.5rem 1rem;
    border:none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}

.action_btn:hover{
    scale: 1.05;
    color: aliceblue;
}

.action_btn:active{
    scale: 0.95;
}

.dropdown_menu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background-color: black;
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden; 
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open{
    height: 240px;
}
.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn{
    width: 100%;
    display: flex;
    justify-content: center;
}
/*responsive*/
@media(max-width: 992px){
    .navbar .links,
    .navbar .action_btn{
        display: none;
    }

    .navbar .toggle_btn{
        display: block;
    }

    .dropdown_menu{
        display: block;
    }
}
@media(max-width: 576px){
   
    .dropdown_menu{
       left: 2rem;
       width: unset;
    }
}
