<header>
    <div class="navbar">
        <div class="logo"><a routerLink="/carousel">C4ntoClub</a></div>
        <ul class="links">
            <li><a routerLink="/home">Home</a></li>
            <li><a routerLink="/histor">Historial</a></li>
            <li><a routerLink="/membre">Membresia</a></li>
            <li><a routerLink="/contact">Contáctanos</a></li>
            <li><a routerLink="/perfil">Perfíl</a></li>
        </ul>
        <a routerLink="/auth" class="action_btn">Empecemos!</a>
        <div class="toggle_btn">
            <img src="../../../assets/menu.png" width="25" class="img_logo" alt="" (click)="toogle()">
        </div>
    </div>
    <div class="dropdown_menu">
        <li><a routerLink="/home">Home</a></li>
            <li><a routerLink="/histor">Historial</a></li>
            <li><a routerLink="/membre">Membresia</a></li>
            <!-- <li><a routerLink="/contact">Contáctanos</a></li> -->
            <li><a routerLink="/perfil">Perfíl</a></li>
            <li><a routerLink="/auth" class="action_btn">Empecemos!</a></li>
    </div>
    
</header>
<!-- <script>
    const toggleBtn = document.querySelector('.toggle_btn');
    const toggleBtnIcon = document.querySelector('.toggle_btn img');
    const dropDownMenu = document.querySelector('.dropdown_menu');
    toggleBtn.addEventListener("click",()=>{
        dropDownMenu.classList.toggle('open');
        const isOpen = dropDownMenu.classList.contains('open');
        // para añadir una x y cerrar
        // toggleBtnIcon.classList = isOpen
    })
</script> -->